# deps
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next
/.next/
/out/

# env
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
.idea
.vscode
*.swp

# prisma
prisma/dev.db
prisma/dev.db-journal

# os
.DS_Store
